<div class="wsp wsp-annee" app-load="annee">

  <div class="x-50">
    <button class="card card-title raised link" app-nav="next" app-data="gestion">
      <i class="material-icons">settings</i> <span>Gestion</span>
    </button>

    <p class="info" hidden app-info="gestion">
      <h2>Nombre de lots:</h2>
      <span></span>
      <h2>Nombre de tickets:</h2>
      <span></span>
      <h2>Nombre d'associations:</h2>
      <span></span>
    </p>
  </div>
  <div class="x-50">
    <button class="card card-title raised link" app-nav="next" app-data="tirage">
      <i class="material-icons">casino</i> <span>Tirage</span>
    </button>

    <p class="info" app-info="tirage" hidden>
      <h2>Tirage</h2>
      <span></span>
    </p>
  </div>
	<!--
  <div class="x-50">
    <button class="card card-title fontRT">
      Lorem Ipsum - LOREM IPSUM 1
    </button>
  </div>
  <div class="x-50">
    <button class="card card-title fontRL">
      Lorem Ipsum - LOREM IPSUM 2
    </button>
  </div>
  <div class="x-50">
    <button class="card card-title fontR">
      Lorem Ipsum - LOREM IPSUM 5
    </button>
  </div>
  <div class="x-50">
    <button class="card card-title fontRM">
      Lorem Ipsum - LOREM IPSUM 5
    </button>
  </div>
  <div class="x-50">
    <button class="card card-title fontRB">
      Lorem Ipsum - LOREM IPSUM 5
    </button>
  </div>
  <div class="x-50">
    <button class="card card-title fontRBB">
      Lorem Ipsum - LOREM IPSUM 6
    </button>
  </div>
  <div class="x-50">
    <button class="card card-title fontNoto">
      Lorem Ipsum - LOREM IPSUM 6
    </button>
  </div>
</div>
-->
