<div class="wsp wsp-gestion" app-load="gestion">
  <div class="x-33">
    <button class="card card-title raised link" app-nav="next" app-data="lot">
      <i class="material-icons">redeem</i><span>Lots</span>
    </button>
  </div>
  <div class="x-33">
    <button class="card card-title raised link" app-nav="next" app-data="ticket">
      <i class="material-icons">local_play</i><span>Tickets</span>
    </button>
  </div>
  <div class="x-33">
    <button class="card card-title raised link" app-nav="next" app-data="association">
      <i class="material-icons">location_city</i><span>Associations</span>
    </button>
  </div>
</div>
