<div class="wsp wsp-jackpot" app-load="jackpot">
  <div class="card">
    <div class="x-50">
      <h3 class="float-left"><i class="material-icons">airplanemode_active</i> Jackpot</h3>
    </div>
    <div class="x-50">
      <button class="raised colored float-right" jackpot-table="add" title="Ajouter un jackpot">Ajouter</button>
    </div>
    <table>
      <col width="30">
      <col width="auto">
      <col width="auto">
      <col width="auto">
      <col width="112">
      <tbody class="table-header">
        <tr>
          <th><input type="checkbox" disabled></th>
          <th>nom</th>
          <th>nombre</th>
          <th>ordre</th>
          <th>action</th>
        </tr>
      </tbody>
      <tbody class="table-content">
      </tbody>
    </table>
  </div>
</div>

<script id="lignejackpot" type="text/html">
  <tr jackpot-id="" class="lignejackpot">
    <td class="select">
      <input type="checkbox" disabled>
    </td>
    <td class="nom">
      <span app-display="nom"></span>
      <input type="text" app-edit="nom" hidden>
    </td>
    <td class="nombre">
      <span app-display="nombre"></span>
      <input type="text" app-edit="nombre"hidden>
    </td>
    <td class="ordre">
      <span app-display="ordre"></span>
      <input type="text" app-edit="ordre"hidden>
    </td>
    <td class="action">
      <button class="raised action success" jackpot-line="save" hidden><i class="material-icons">save</i></button>
      <button class="raised action" jackpot-line="edit"><i class="material-icons">edit</i></button>
      <button class="raised action danger" jackpot-line="confirm" hidden><i class="material-icons">delete_sweep</i></button>
      <button class="raised action" jackpot-line="delete"><i class="material-icons">delete</i></button>
      <button class="raised action" jackpot-line="cancel" hidden><i class="material-icons">cancel</i></button>
    </td>
  </tr>
</script>
