<div class="wsp wsp-lot" app-load="lot">
  <div class="x-33">
    <button class="card card-title raised link" app-nav="next" app-data="jackpot">
      <i class="material-icons">airplanemode_active</i><span> jackpot</span>
    </button>
  </div>
  <div class="x-33">
    <button class="card card-title raised link" app-nav="next" app-data="groslot">
      <i class="material-icons">speaker</i><span> gros lots</span>
    </button>
  </div>
  <div class="x-33">
    <button class="card card-title raised link" app-nav="next" app-data="petitlot">
      <i class="material-icons">free_breakfast</i><span> petit lots</span>
    </button>
  </div>
</div>
